<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.getstream.chat.ui.sample"
    >

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Needed to communicate with already-paired Bluetooth devices. (Legacy up to Android 11) -->
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30"
        />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30"
        />

    <!-- Needed to communicate with already-paired Bluetooth devices. (Android 12 upwards)-->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application
        android:name=".application.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".feature.HostActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".call.JoinActivity"
            android:parentActivityName=".feature.HostActivity"
            android:windowSoftInputMode="adjustResize"
            />

        <activity android:name=".call.ChatActivity" />

        <activity
            android:name=".call.CallActivity"
            android:configChanges="orientation|screenSize"
            />

        <meta-data
            android:name="notificationTitle"
            android:value="@string/notificationTitle"
            />
        <meta-data
            android:name="notificationContent"
            android:value="@string/notificationContent"
            />
        <meta-data
            android:name="notificationIcon"
            android:resource="@mipmap/ic_launcher_round"
            />
    </application>

</manifest>